
.player-wrapper {
    position: relative;
  }
  .player-overlay {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 90%;
    left: 0;
    top: 0;
    z-index: 1;
  }